
.DetailContainer{
    background-color: #03A7FA1A;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 90px;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button{
    border: 2px solid #0F86EB4D;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 40px;
}

.avatar{
    height: 120px;
}

h1{
    margin: 0 10px 10px 10px;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
}
.pt p{
    margin: 10px 0 50px 10px;
}
.pt h3{
    margin: 10px;
}

h2{
    margin: 10px 10px 10px 10px;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

.InfoContainer{
    display: flex;
    justify-content: space-between;
}
.profile, .InfoContainer{
    border: 2px solid #0F86EB4D;
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
}