input{
    height: 50px;
    width: 600px;
    margin-top: 3px;
    margin-bottom: 0px;
    background-color: #F8F6F4;
    border: 0;
    outline: none;
    padding-left: 20px;
}
.roww{
    display: flex;
    background-color:#F8F6F4;
    border-radius: 25px;
    width: 550px;
    margin-left: 20px;
}
.butt{
    margin-top: 9px;
    margin-right: 10px;
    height: 40px;
    width:  45px;
    border-radius: 25px;
    background-color: #F8F6F4;
    border: 0;
}
.imgg{
    height: 20px;
    width:  20px;
    background-color: #F8F6F4;
}
.sb{
    display: flex;
    width: 600px;
    margin-right: 0px;
}
.cal{
    height: 60px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}