.MuiPaper-root {
    border-radius: 5px !important;
    
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

thead tr th span span .MuiSvgIcon-root{
  color: #ffffff !important;
}

.table-main div{
  position: initial !important;
}

.MuiInput-underline:before {
  border-bottom: 2px solid #0e192fCC !important ;
}

.table-main{
    margin-top: 60px;
  padding: 20px;
}

td[value='Completed'] {
  color: #02870F !important;
}

td[value='Incomplete'] {
  color: #FF0505 !important;
}

td[value='Pending'] {
  color: #C37602 !important;
}

